.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0978c8;
    color: #EDF6F9;
    
}

.navbar-title h2 {
    font-weight: 600;
}
/* #646cff */
.navbar a {
    margin-left: 1rem;
    text-decoration: none;
    color: #EDF6F9;
}

.navbar a:hover {
    text-decoration: underline;
    
}
