.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0978c8;
    color: #EDF6F9;
    
}

.navbar-title h2 {
    font-weight: 600;
}

.navbar a {
    margin-left: 1rem;
    text-decoration: none;
    color: #EDF6F9;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar button {
    margin-top: 1rem;
    margin: 0.5rem 0.75rem;
    background-color: #0978c8;
    border: none;
    color: #EDF6F9;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button:hover {
    text-decoration: underline;
}

