
button {
  padding: 0.6rem 1.2rem;
  background-color: #007bff;
  border: none;
  color: white;
  
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}