table.dataTable {
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #007bff;
    color: white !important;
    margin: 2px;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #0056b3 !important;
  }